@page "/offers"
@using Softville.Upwork.Contracts
@inject HttpClient Http

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (_offers == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Rate</th>
            <th>Bids</th>
            <th>Customer</th>
            <th>Connects</th>
            <th>Qualification</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var offer in _offers)
        {
            <tr>
                <td>
                    <a href="https://www.upwork.com/jobs/@(offer.CipherText)" target="_blank">@(offer.Title)</a>
                </td>
                <td>@(offer.PublishedTime.ToString("d/M/yy T"))</td>
                <td>@($"{offer.Rate.Minimum}-{offer.Rate.Maximum} {offer.Rate.Currency}")</td>
                <td title="(Min, Avg, Max)[Interviewing]">(@(offer.Stats.MinRateBid.Amount.ToString("F2"));@(offer.Stats.AvgRateBid.Amount.ToString("F2"));@(offer.Stats.MaxRateBid.Amount.ToString("F2"))$)[@(offer.Stats.AvgInterviewedRateBid.Amount.ToString("F2"))]</td>
                <td>
                    <span title="">@(offer.Customer.Location.City),@(offer.Customer.Location.Country) (@(offer.Customer.Stats.Score.ToString("F2"))⭐@(offer.Customer.Stats.TotalCharges?.Amount.ToString("N0"))💲@(offer.Customer.Stats.HoursCount.ToString("F1"))h⌚ @(offer.Customer.Stats.TotalJobsWithHires)👷‍♀️</span>
                </td>
                <td>
                    <span title="Connects/Applicants/Hired/Interviewing/Sent/Unanswered">
                        @(offer.ConnectPrice)/@(offer.Activity.TotalApplicants)/<b>@(offer.Activity.TotalHired)</b>/@(offer.Activity.TotalInvitedToInterview)/@(offer.Activity.InvitationsSent)/@(offer.Activity.UnansweredInvites)
                    </span>
                </td>
                <td title="@(string.Join(", ", offer.Qualifications.QualificationsDetails.Where(q => q.Qualified is false).Select(q => q.ClientPreferredLabel)))">@(offer.Qualifications.TotalQualifications == offer.Qualifications.MatchedQualifications ? "✅" : "❌") @(offer.Qualifications.MatchedQualifications)/@(offer.Qualifications.TotalQualifications)</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private Offer[]? _offers;

    protected override async Task OnInitializedAsync()
    {
        _offers = (await Http.GetFromJsonAsync<Offer[]>("sample-data/offers.json"))!
            .OrderByDescending(o => o.PublishedTime)
            .ToArray();
    }

}
